label {
    display: block;
    margin: 0.5rem 0;
  }
  
  input, select {
    display: block;
    margin: 0.5rem 0;
    width: 100%;
    max-width: 600px;
    text-align: center;
  }
  
  input,
  textarea,
  select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
  }
  
  body {
      font-family: "Times New Roman", Times, serif;
      background-color: #1b1b32;
      color: #f5f6f7;
      font-size: 16px;
      margin: 0;
      padding: 20px; 
  }
  
  Legend {
    text-align: center;
  }
  
  h1, p {
    text-align: center;
    margin: 1em auto;
  }
  
  option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  input[type="checkbox"], input[type="radio"] {
    margin-right: 5px;
  }
  
  button[type="submit"] {
    margin: 1em auto;
    display: block;
    width: 60%;
    height: 2em;
  }
  
  .inline {
    vertical-align: middle;
    margin: 0 0.5em 0 0;
    width: unset;
    display: inline-block;
    margin-right: 15px;
  }